#banner {
  background-color: #2941ab;
  height: 80vh;
  color: #1ed760;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#banner h1 {
  font-size: 156px;
  text-align: center;
}

#banner p {
  font-weight: bold;
  font-size: 18px;
}
